* {
    font-family: iransans-light;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: rtl;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    font-family: iransans-light;
    color: white;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

a,
a:link {
    color: white;
    text-decoration: none;
}


/**********************************/


/**********************************/

.head-top {
    border-bottom: 1px solid rgb(228, 228, 228);
    margin: 0rem 1rem .5rem;
}

.head-top-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50px;
}

.menu-mini {
    width: 50px;
    display: grid;
    align-items: center;
}

.icon-head {
    color: rgb(83, 83, 83);
    margin: .18rem 0rem 0;
    font-size: 1.3rem;
}

.logo {
    display: grid;
    justify-content: center;
    width: 100%;
}

.logo img {
    width: 100px;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.head-box-icon-question {
    height: 100%;
    display: grid;
    justify-content: flex-end;
    align-items: center;
}

.box-icon-question {
    border-radius: 8px;
    border: 2px solid rgb(54, 54, 54);
    width: 25px;
    height: calc(100% - 1.5rem);
    position: relative;
    top: 0;
    left: 0;
}

.box-icon-question .question-icon {
    position: absolute;
    color: rgb(54, 54, 54);
    display: grid;
    top: 2px;
    left: 5px;
}

.head-middle {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    height: 50px;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 0 1rem;
    justify-content: space-between
}

.head-middle-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    /* grid-area: "head-middle-left"; */
}

.search-botton {
    position: absolute;
    color: rgb(170, 170, 170);
    top: 10px;
    font-size: 1.3rem;
    right: 10px;
}

.search-box {
    position: relative;
    border: none;
    width: calc(100% - 6rem);
}

.search-box input {
    border: none;
    background-color: rgb(235, 235, 235);
    padding: .6rem;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.search-box input::placeholder {
    padding-right: 2rem;
    font-family: iransans-medium;
    color: rgb(145, 145, 145);
}

.login-botton {
    color: gray;
    transform: rotate(180deg);
    position: relative;
    top: -3px;
    right: 0px;
    margin-left: 2.5rem;
}

.login-botton p {
    color: rgb(63, 63, 63);
    position: absolute;
    font-family: iransans-medium;
    font-size: .7rem;
    transform: rotate(180deg);
    right: -15px;
    top: 8px;
}

.login-botton:before {
    content: "|";
    position: relative;
    font-size: 1.5rem;
    color: rgb(240, 240, 240);
    font-family: serif;
    bottom: 3px;
    left: 25px;
}

.login-bigsize {
    display: none;
    visibility: hidden;
}

.shopping-card {
    display: grid;
    justify-content: flex-end;
    position: relative;
    top: -3px;
}

.head-bottom {
    border-bottom: 1px solid rgb(228, 228, 228);
    height: 40px;
    display: grid;
}

.box-chose-location {
    position: relative;
    height: 100%;
    display: flex;
}

.text-chose-location::after {
    content: "";
    position: absolute;
    left: 20px;
    top: 13px;
    transform: rotate(45deg);
    border: 2px solid rgb(148, 148, 148);
    width: 10px;
    height: 10px;
    border-right: none;
    border-top: none;
}

.text-chose-location {
    color: rgb(63, 63, 63);
    font-family: iransans-medium;
    font-size: .77rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 2rem;
}

.botton-chose-location {
    position: relative;
    top: 6px;
    right: 20px;
}

.botton-chose-location div {
    color: rgb(230, 33, 33);
}

.nav-right {
    display: none;
    visibility: hidden;
}


/* MainTop */


/* MainTopRight */

.MainTopRight {
    width: 100%;
    height: 170px;
    overflow: hidden;
    position: relative;
}

.slide-pic-box-MainTopRight {
    width: 800%;
    height: 100%;
    display: flex;
}

.slides-MainTopRight {
    width: 12.5%;
    padding: .5rem;
    transition: .4s ease all;
}

.slide-pic-box-MainTopRight img {
    width: 100%;
    height: calc(100% - .5rem);
    object-fit: cover;
    border-radius: 10px;
}

.slide-pic-box-MainTopRight input {
    display: none;
}

.btn-label-radio-box-MainTopRight {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 30px
}

.btn-label-radio-MainTopRight {
    border: 1px solid rgba(255, 3, 3, 0.219);
    border-radius: 10px;
    padding: .25rem;
    cursor: pointer;
    margin-right: .8rem;
    background-color: white
}

#pic1-MainTopRight:checked~.first-MainTopRight {
    margin-right: 0;
}

#pic2-MainTopRight:checked~.first-MainTopRight {
    margin-right: -12.5%;
}

#pic3-MainTopRight:checked~.first-MainTopRight {
    margin-right: -25%;
}

#pic4-MainTopRight:checked~.first-MainTopRight {
    margin-right: -37.5%;
}

#pic5-MainTopRight:checked~.first-MainTopRight {
    margin-right: -50%;
}

#pic6-MainTopRight:checked~.first-MainTopRight {
    margin-right: -62.5%;
}

#pic7-MainTopRight:checked~.first-MainTopRight {
    margin-right: -75%;
}

#pic8-MainTopRight:checked~.first-MainTopRight {
    margin-right: -87.5%;
}

.prev-MainTopRight,
.next-MainTopRight {
    position: absolute;
    left: 20px;
    top: auto;
    transform: rotate( 45deg);
    border: 3px solid rgb(209, 27, 27);
    width: 15px;
    height: 15px;
    border-right: none;
    border-top: none;
    display: grid;
    align-self: center;
}

.next-MainTopRight {
    right: 20px;
    transform: rotate( -135deg);
}


/* MainTopLeft */

.MainTopLeft {
    display: none;
    visibility: hidden;
}

@media screen and (min-width: 450px) {
    .slides-MainTopRight,
    .MainTopRight,
    .slide-pic-box-MainTopRight {
        max-height: 500px;
        min-height: 400px;
    }
    .slide-pic-box-MainTopRight img {
        max-height: calc(100% - .5rem);
    }
}

@media screen and (min-width: 1050px) {
    .head-site {
        box-shadow: 0 0 20px 0 #c5c5c5;
    }
    .menu-mini {
        display: none;
        visibility: hidden;
    }
    header {
        display: grid;
        grid-template-areas: "logo search-box";
        grid-template-columns: auto 1fr;
    }
    /*  head right */
    .head-top {
        grid-area: logo;
        border-bottom: none;
        /* height: 0px; */
        display: grid;
        align-self: center;
        width: 80px;
        margin: 0 1.5rem 0rem 2rem;
    }
    .search-box {
        display: flex;
        align-self: center;
        height: 50px;
    }
    .search-botton {
        position: absolute;
        top: 15px;
    }
    .head-top-box {
        display: grid;
        grid-template-columns: 0;
        height: 100%;
        align-items: center;
        grid-template-rows: 1fr;
    }
    .head-top-box nav {
        display: none;
        visibility: hidden;
    }
    .logo {
        display: grid;
        justify-content: flex-start;
        align-items: center;
    }
    .box-icon-question {
        display: none;
        visibility: hidden;
    }
    /* head left */
    .head-middle {
        grid-area: search-box;
        border-bottom: none;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .search-box input {
        max-width: 500px;
    }
    .login-bigsize {
        display: flex;
        visibility: visible;
        transform: rotate(360deg);
        border: 1px solid rgb(223, 223, 223);
        border-radius: 7px;
        padding: .7rem 1rem;
        padding-left: 0;
        flex-direction: row-reverse;
        align-items: center;
    }
    .login-bigsize p {
        transform: rotate(0deg);
        position: relative;
        white-space: nowrap;
        top: 0px;
    }
    .login-bigsize::before {
        position: absolute;
        top: 5px;
        left: -20px;
        font-size: 1.8rem;
    }
    .login-bigsize .icon-head {
        margin: 0;
        margin-left: 1.5rem;
    }
    .login-minisize {
        display: none;
        visibility: none;
    }
    /* nav right */
    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    nav .nav-right {
        display: flex;
        visibility: visible;
        color: gray;
        align-items: center;
    }
    .nav-item {
        margin: 0 .5rem;
    }
    .text-title b,
    .text-title {
        display: flex;
        align-items: center;
        font-size: .65rem;
        font-family: iransans-medium;
        padding-right: .5rem;
    }
    .nav-right .icon-head {
        font-size: 1rem
    }
    .product-categories {
        margin-right: 1rem;
        position: relative;
    }
    .product-categories:after {
        content: "";
        position: absolute;
        top: 2px;
        left: -12px;
        font-size: 1rem;
        width: 1px;
        background-color: rgb(230, 230, 230);
        height: 20px;
    }
    /* nav left */
    .nav-left {
        border: none;
        padding: 0 1.5rem;
    }
    .box-chose-location {
        display: flex;
        flex-direction: row-reverse;
    }
    .text-chose-location {
        margin-right: 0;
        font-size: .7rem
    }
    .text-chose-location::after {
        display: none;
        visibility: hidden;
    }
    .botton-chose-location {
        position: relative;
        top: 5px;
        right: 10px;
    }
    .botton-chose-location div {
        font-size: 1.1rem
    }
    /* maintop */
    .MainTop {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: .5rem;
        height: 500px;
    }
    /* MainTopRight */
    .MainTopRight {
        height: 100%;
    }
    /* MainTopLeft */
    .MainTopLeft {
        display: flex;
        visibility: visible;
        flex-wrap: wrap;
        padding: .5rem;
    }
    .pic-MainTopLeft img {
        width: 100%;
        height: calc(250px - 1rem);
        border-radius: 10px;
    }
    /* AmazingOffer */
    .AmazingOffer {
        background-color: rgb(239, 57, 78);
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    /* Description Offer */
    .AmazingOffer-box {
        width: 10%;
        height: 100%;
    }
    /* List of products */
    .AmazingOffer-slidesshow {
        display: flex;
        justify-content: flex-end;
        margin: .5rem;
    }
    /* The box of product */
    .AmazingOffer-slidebox {
        width: 300px;
        background-color: white;
        border-radius: 10px;
        margin: .5rem;
        display: grid;
        align-items: center;
    }
    .slideshow-slidebox-pic {
        display: grid;
        justify-content: center;
    }
    .slideshow-slidebox-pic img {
        max-width: 200px;
        display: grid;
        justify-content: center;
    }
    .slideshow-slidebox-description {
        color: black;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        font-family: iransans-light;
        height: 100%;
    }
    .slideshow-slidebox-description p,
    .slideshow-slidebox-description b {
        line-height: 2.3;
        text-align: center;
        margin: 0 1rem;
        font-size: .9rem;
        height: 100%;
        display: grid;
        align-items: center;
    }
    .slideshow-slidebox-description b {
        text-align: end;
        margin-left: 1.8rem;
        letter-spacing: 1.2px;
    }
}

@media screen and (min-width: 1150px) {
    .text-title b,
    .text-title {
        font-size: .75rem;
    }
    .nav-right .icon-head {
        font-size: 1rem
    }
    .text-chose-location {
        margin-right: 0;
        font-size: .75rem
    }
    .botton-chose-location div {
        font-size: 1.3rem
    }
}